.animate-rotate {
    animation: rotate 4s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    /*30% {*/
    /*    transform: rotate(180deg);*/
    /*    -ms-transform: rotate(180deg);*/
    /*    -moz-transform: rotate(180deg);*/
    /*    -o-transform: rotate(180deg);*/
    /*}*/
    100% {
        transform: rotate(359deg);

    }
}


button:active {
    animation: button-click .5s ease-in;
}


@keyframes button-click {
    0% {
        opacity: 0
    }


    50% {
        opacity: 0.5
    }

    100% {
        opacity: 0
    }
}
