.is-pointer {
    cursor: pointer;
}

.is-rounded {
    border-radius: 290486px;
}

.is-capitalized {
    text-transform: capitalize !important;
}

.is-lowercase {
    text-transform: lowercase !important;
}

.is-uppercase {
    text-transform: uppercase !important;
}

.is-italic {
    font-style: italic !important;
}

.is-hidden {
    display: none !important;
}

.is-sr-only {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
}

.is-invisible {
    visibility: hidden !important;
}

.is-marginless {
    margin: 0 !important;
}

.is-paddingless {
    padding: 0 !important;
}

.is-radiusless {
    border-radius: 0 !important;
}

.is-shadowless {
    box-shadow: none !important;
}

.is-relative {
    position: relative !important;
}

.is-flex {
    display: flex !important;
}

.is-inline {
    display: inline !important;
}


.is-inline-block {
    display: inline-block !important;
}

.is-inline-flex {
    display: inline-flex !important;
}

.is-block {
    display: block !important;
}


.is-float-left {
    float: left !important;
}

.is-float-right {
    float: right !important;
}

.is-clearfix::after {
    clear: both;
    content: " ";
    display: table;
}

.has-text-left {
    text-align: left !important;
}

.has-text-center {
    text-align: center !important;
}

.has-text-right {
    text-align: right !important;
}

.delete {
    background-color: rgba(10, 10, 10, 0.2);
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.delete::before, .delete::after {
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.delete::before {
    height: 2px;
    width: 50%;
}

.delete::after {
    height: 50%;
    width: 2px;
}

.delete:hover, .delete:focus {
    background-color: rgba(10, 10, 10, 0.3);
}

.delete:active {
    background-color: rgba(10, 10, 10, 0.4);
}

.is-16x16.delete {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
}

.is-24x24.delete {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
}

.is-32x32.delete {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
}