.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.nav .nav-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}


/*******************************
            direction
*******************************/
.nav .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: auto;
    margin-left: auto !important;
}

.nav .nav-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto !important;
}

.nav .nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: auto;
    margin-right: auto !important;
}


/*******************************
            a link color
*******************************/
.nav a {
    color: #000;
}


/*******************************
           size
*******************************/

.nav.line4 {
    height: 40px;
}

.nav.line6 {
    height: 60px;
}

.nav.line8 {
    height: 80px;
}