.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags .tag {
    margin-bottom: 10px;
}

.tags.is-small {
    font-size: 0.75rem;
}

.tags.is-large {
    font-size: 1.25rem;
}

.tags .tag:not(:last-child) {
    margin-right: 10px;
}

.tag:not(body) {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    height: 2em;
    line-height: 1;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.tag:not(body) img {
    display: inline-block;
    vertical-align: middle;
    height: 2em !important;
    margin: -0.5733em 0.5em -0.5733em -0.8em;
    border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}

.tag:not(body) .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem;
}

.tag:not(body).is-small {
    font-size: 0.75rem;
}

.tag:not(body).is-large {
    font-size: 1.25rem;
}

.tag:not(body) .icon {
    margin-left: 2px;
    margin-right: 2px;
}

.tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

.tag:not(body).is-delete::before, .tag:not(body).is-delete::after {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.tag:not(body).is-delete::before {
    height: 1px;
    width: 50%;
}

.tag:not(body).is-delete::after {
    height: 50%;
    width: 1px;
}

.tag:not(body).is-delete:hover, .tag:not(body).is-delete:focus {
    background-color: #e8e8e8;
}

.tag:not(body).is-delete:active {
    background-color: #dbdbdb;
}

.tag:not(body).is-rounded {
    border-radius: 290486px;
}

a.tag:hover {
    text-decoration: underline;
}

.tags.has-addons-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tags.has-addons-group .tags.has-addons:not(:last-child) {
    margin-right: 10px;
}

.tags.has-addons .tag {
    margin-right: 0;
}

.tags.has-addons .tag:not(:first-child) {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tags.has-addons .tag:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.tag:not(body).is-white {
    background-color: white;
    color: #0a0a0a;
}

.tag:not(body).is-black {
    background-color: #0a0a0a;
    color: white;
}

.tag:not(body).is-light {
    background-color: whitesmoke;
    color: #363636;
}

.tag:not(body).is-dark {
    background-color: #363636;
    color: whitesmoke;
}

.tag:not(body).is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.tag:not(body).is-link {
    background-color: #3273dc;
    color: #fff;
}

.tag:not(body).is-info {
    background-color: #209cee;
    color: #fff;
}

.tag:not(body).is-success {
    background-color: #23d160;
    color: #fff;
}

.tag:not(body).is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.tag:not(body).is-danger {
    background-color: #ff3860;
    color: #fff;
}

.tags.has-addons-group.tags.is-justify-start,
.tags.is-justify-start {
    justify-content: flex-start;
}

.tags.has-addons-group.tags.is-justify-center,
.tags.is-justify-center {
    justify-content: center;
}

.tags.has-addons-group.tags.is-justify-end,
.tags.is-justify-end {
    justify-content: flex-end;
}

.tags.has-addons-group.is-justify-around,
.tags.is-justify-around {
    justify-content: space-around;
}

.tags.has-addons-group.tags.is-justify-between,
.tags.is-justify-between {
    justify-content: space-between;
}